<% if(success && success.length) { %>
<div
  class="alert alert-success alert-dismissible fade show col-lg-8 offset-lg-2 offset-sm-2 col-sm-8 offset-1 col-10"
  role="alert"
>
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if(error && error.length) { %>
<div
  class="alert alert-danger alert-dismissible fade show col-lg-8 offset-lg-2 offset-sm-2 col-sm-8 offset-1 col-10"
  role="alert"
>
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
