<style>

  .navbar{
    padding: 0;
    height: 3.938rem;
  }
  .search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: white;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.1rem;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.3rem 3rem 0.3rem 3rem;
    font-size: 1rem;
    /* width: 25rem; */
  }

  .navbar-collapse {
    background-color: rgba(
      255,
      255,
      255,
      1
    ); /* Light white background with slight transparency */
  }

  .navbar-toggler{
    padding: 0.1rem, 0.2rem;
    font-size: 1rem;
  }

  @media (min-width: 768px) and (max-width: 1009px) {
    a {
      font-size: smaller !important;
    }
    .search-input {
      padding: 0.2rem 0.6rem 0.2rem 0.6rem;
      font-size: 0.7rem;
    }
    .search-btn i {
      margin-right: 0.3rem;
    }
    .search-btn {
      font-size: 0.7rem;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      >
      <!-- <i class="fa-regular fa-compass"></i> -->
      <img class="logo_img" src="https://res.cloudinary.com/ddml73nwc/image/upload/v1734421398/Black_and_White_Circle_Business_Logo_1_f8aymt.png" alt="Logo">
    </a>
    <div class="navbar-nav">
      <a style="padding: 0.1rem;" class="nav-link" href="/listings"
        ><b style="font-size: 1.1rem;">WanderLust</b></a
      >
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> 
      <div class="navbar-nav ms-auto">
        <form action="/listings/search" class="d-flex" role="search">
          <input
            class="form-control me-2 search-input"
            name="search"
            type="search"
            placeholder="Search destinations"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new"
          ><i class="fa-solid fa-earth-americas"></i> Airbnb your home</a
        >
        <% if(!currUser) { %>
        <a class="nav-link" href="/users/signup"
          ><b><i class="fa-solid fa-circle-user"></i> Signup</b></a
        >
        <a class="nav-link" href="/users/login"
          ><b><i class="fa-solid fa-circle-user"></i> Login</b></a
        >
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/users/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
