<% layout("/layouts/boilerplate.ejs") -%>

<div class="row mt-3 p-2">
    <h2 class="col-lg-6 offset-lg-3 offset-sm-2 col-sm-8 offset col-12 mb-3">Reset Password</h2>
    <div class="col-lg-6 offset-lg-3 offset-sm-2 col-sm-8 offset col-12 ">
      <form method="POST" action="/users/forgot-password" class="needs-validation d-flex mb-5" novalidate>
        <input  id="email"
        name="email"
        type="email"
        class="form-control me-2"
        required class="form-control "  placeholder="Email" aria-label="Search">
        <button class="btn btn-success">Send OTP</button>
      </form>
      <form method="POST" action="/users/CheckOTP" class="needs-validation mb-3" novalidate>
        <input  id="otp"
        name="otp"
        class="form-control me-2"
        required class="form-control"  placeholder="OTP" aria-label="Search">
        <button class="btn btn-success mt-3" type="submit">Submit</button>
      </form>
    </div>
  </div>