<% layout("/layouts/boilerplate.ejs") -%>

<div class="row mt-3">
    
    <h2 class="col-lg-6 offset-lg-3 offset-sm-2 col-sm-8 offset col-12">Reset Your Password</h2>
    <div class="col-lg-6 offset-lg-3 offset-sm-2 col-sm-8 offset col-12">
      <form method="POST" action="/users/Reset-password" class="needs-validation " novalidate>
        <div class="mb-3">
          <label for="newPassword" class="form-lable">New Password</label>
          <input
            id="newPassword"
            name="newPassword"
            type="password"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="Confirm_password" class="form-lable">Confirm Password</label>
          <input
            id="Confirm_password"
            name="Confirm_password"
            type="password"
            class="form-control"
            required
          />
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>